<div class="list-group panel col-lg-3">
    <div class="list-group-item">
        <a href="http://localhost:8000/menus/1">Home</a><a href="#obj-1" data-toggle="collapse" class="pull-right">+</a>
    </div>
    <div class="collapse list-group-submenu" id="obj-1">
        <div class="list-group-item">
            <a href="http://localhost:8000/menus/2">Contact Us</a><a href="#obj-2" data-toggle="collapse"
                                                                     class="pull-right">+</a></div>
        <div class="collapse list-group-submenu" id="obj-2">
            <div class="list-group-item">
                <a href="http://localhost:8000/menus/4">Contact Details</a><a href="#obj-4" data-toggle="collapse"
                                                                              class="pull-right">+</a></div>
        </div>
        <div class="list-group-item">
            <a href="http://localhost:8000/menus/3">About Us</a><a href="#obj-3" data-toggle="collapse"
                                                                   class="pull-right">+</a></div>
    </div>
    <div class="list-group-item">
        <a href="http://localhost:8000/admin">Admin</a><a href="#obj-5" data-toggle="collapse" class="pull-right">+</a>
    </div>
</div>